
*.vim


sr28asc/

DATA_SRC.txt
DATSRCLN.txt
DERIV_CD.txt
FD_GROUP.txt
FOOD_DES.txt
FOOTNOTE.txt
LANGDESC.txt
LANGUAL.txt
NUTR_DEF.txt
NUT_DATA.txt
SRC_CD.txt
WEIGHT.txt


sqlite
load

nutrients.db
nutrients.db.bk
test.txt

